@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel 

    <h1>ONLINE BOOKS</h1>


    @foreach(Book b in Model.Books)
{
    <h3>@b.Title</h3>
    <ul>
        <li>ID: @b.BookId</li>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.ISBN</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Page Count: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>
}

<div page-model="@Model.PaginationInfo" page-action="Index"></div>



